<html>
<head>
    <meta charset="utf-8" >
    <base href="http://xcwgf2.oss-cn-hangzhou.aliyuncs.com"/>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>8人大牌九房间</title>
    <script type="text/javascript">
                var _thost = 'http://' + window.location.host;
        var pathArr = window.location.pathname.split("/");
        if(pathArr.length==3 && pathArr[1] != ""){
            if(pathArr[1].search(".html")!=-1){

            }else{
                _thost = 'http://' + window.location.host + "/" + pathArr[1];
            }
        }
        var _tt = new Date().getTime();
        document.write('<script type="text/javascript" src="' + _thost + '/js/config.js?v=1' + _tt + '"> <\/script>');
    </script>    
    <link rel="stylesheet" type="text/css" href="/files/css/paijiuD.css?v=2019">
    <link rel="stylesheet" type="text/css" href="/files/css/paijiuD_common.css?v=2019">
    <link rel="stylesheet" type="text/css" href="/files/css/alert.css">

    <script type="text/javascript" src="/files/js/fastclick.js"></script>

    <script type="text/javascript" src="/js/load.js?v=11101"></script>
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 360 * 100 + 'px';
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);

        var code = DynLoading.getUrlParam("code");
        let token = window.localStorage.getItem('token');
        if (!token) {
            var return_url = window.location.href;
            window.localStorage.removeItem('return_url');
            window.localStorage.setItem('return_url', window.location.href);
            if (DynLoading.isWeiXin()) {
                if (code) {
                    token = "{$token}";
                    if (token != "{$token}") {
                        window.localStorage.setItem('token', token);
                    }
                } else {
                    DynLoading.gotoWx();
                }
            } else {
                DynLoading.goto('login');
            }
        }

        if (token) {
            var room_number = DynLoading.getUrlParam("i");
            room_number = parseInt(room_number);
            var req_url = BaseUrl + '/home1/room' + "?i=" + room_number + "&tk=" + token;
            if (token == '{$token}' && code) {
                req_url = BaseUrl + '/home1/room' + "?i=" + room_number + "&code=" + code;
            }
            var obj = DynLoading.hall(req_url);
            if (obj.result != 0) {
                alert(obj.result_message);
                var return_url = window.location.href;
                console.log(return_url);
                DynLoading.goto('/');
            }
            console.log(obj);
            if (code && obj.data.tk != "") {
                token = obj.data.tk;

                window.localStorage.setItem('token', obj.data.tk);
            }
        }

        let _socket = _isTx ? 'ws://' + _wip + ':' +_wport + '/' + obj.data.gt + '/' + obj.data.dkey : obj.data.socket;
        var newNum = "";
        var per = window.innerWidth / 530;
        var globalData = {
            "card": obj.data.card,
            "roomNumber": room_number,
            "socket": _socket,
            "hallPath": DynLoading.getPath('/'),
            "roomUrl": window.location.href,
            "baseUrl": BaseUrl + "/",
            "fileUrl": "/",
            "cfileUrl": "/",
            "isWechat": 1,
            "isXianliao": 0,
            "xlTitle": "(房间号:" + room_number + ")",
            "roomStatus": obj.data.room_status,
            "scoreboard": obj.data.balance_scoreboard,
            "session": obj.data.session,
            "shareTitle": obj.data.platfrom_name + "：(房间:" + room_number + ")",
            "gameType": obj.data.game_type,
            "maxCount": obj.data.max_count,
            "tk": token,
            "hallName": obj.data.platfrom_name,
            "hallEname": obj.data.platform_ename,
            "gameName": "大牌九"
        };

        globalData.wid = obj.data.wid;
        globalData.tt = obj.data.tt;
        var userData = {
            "account_id": obj.data.user.account_id,
            "accountId": obj.data.user.account_id,
            "userCode": obj.data.user.user_code,
            "nickname": obj.data.user.nickname,
            "avatar": obj.data.user.headimgurl,
            "card": obj.data.card,
            "individuality": obj.data.user.individuality,
        };
        var configData = {
            "appId": obj.data.config_ary.appId,
            "timestamp": obj.data.config_ary.timestamp,
            "nonceStr": obj.data.config_ary.nonceStr, 
            "signature": obj.data.config_ary.signature,
        };

        // 修改浏览器title
        var new_userName = "";
        var old_userNname = obj.data.user.nickname;
        if (old_userNname.length > 8) {
            new_userName = old_userNname.substring(0, 7);
            new_userName += "..."
        } else {
            new_userName = old_userNname;
        }
        document.getElementsByTagName("title")[0].innerText = new_userName + "|" + globalData.hallName;

    </script>
</head>

<body >
<div id="dialog" style="display:none">
    <img src="/files/images/common/cancel.png" onclick="fuzhiMain.closeDialog()">
    <p id="main" class="main">
    </p>
    <p class="other">
        请手动复制
    </p>
</div>
<span class="copy-tip" id="tips" style="display:none">已复制到剪贴板</span>

<div style="position: fixed;width:100%;height:100%;top:0;left:0;background: rgb(7, 26, 69);z-index:115;" id="loading">
    <div class="load4">
        <div class="loader">Loading...</div>
    </div>
</div>

<div class="main" id="app-main" style="position: relative; width: 100%;margin: 0 auto; background: #fff; display: none;">
    <span class="copy-tip" v-if="isShowTipsText" style="z-index: 200;">{{tipsText}}</span>

    <img src="/files/images/common/33fz.png" class="needsclick zhuonuo copyUrl" data-clipboard-action="copy" id="copy_btn"
         onclick="copyLink(globalData.maxCount)" />
    <textarea id="room_str" readonly="readonly"></textarea>


    <div class="window-masks return-index" id="returnIndex" v-show="isShowHomeAlert">
        <div class="border-opacity">
            <div class="container f-cb"><i class="mask-icon mask-top"></i><i class="mask-icon mask-right"></i><i
                    class="mask-icon mask-bottom"></i><i class="mask-icon mask-left"></i>
                <div class="main">确认返回主页？</div>
                <div class="button">
                    <div class="sure" id="returnIndexBtn" v-on:click="hall">返回首页</div>
                    <div class="cancel" id="cancelBtn" v-on:click="closeHomeAlert">取消</div>
                </div>
            </div>
        </div>
    </div>

    <div class="alertTip" v-show="isShowAlertTip">
        <div class="alertTipBG"></div>
        <img src="/files/images/common/alertTipOk.png" v-show="alertTipType==1">
        <img src="/files/images/common/alertTipWarn.png" v-show="alertTipType==2">
        <div class="alertTipText" >{{alertTipText}}</div>
    </div>



    <div class="window-masks return-index" id="returnIndex" v-show="isShowAlert && !add_user">
        <div class="border-opacity">
            <div class="container f-cb"><i class="mask-icon mask-top"></i><i class="mask-icon mask-right"></i><i
                    class="mask-icon mask-bottom"></i><i class="mask-icon mask-left"></i>
                <div class="main">{{alertText}}</div>
                <div class="button" style="position: relative;">
                    <div class="sure" id="returnIndexBtn" v-on:click="hall">返回首页</div>
                </div>
            </div>
        </div>
    </div>


    <div class="roomCard"  v-on:click="showIndividuality">
        <img  src="/files/images/common/myText.png" />
        <div class="num">
            <div style="position: absolute;top:0;left: 0;width: 100%;height: 100%;background: #000;opacity: .6;border-radius:1.5vh;"></div>
            <div style="position: relative;padding: 0 1.5vh 0 5vh;">{{userData.individuality}}<span v-if='userData.individuality==""'>点击设置</span></div>
        </div>
    </div>

    <img class="bottomTab" src="/fiesc/images/nbull/bottom.png" alt="">
    <img class="bottomRule" src="/fiesc/images/common/game-rules13.png" v-on:click="showGameRule">
    <img class="bottomHome" src="/fiesc/images/common/game-music1.png" v-if="editAudioInfo.backMusic==1" v-on:click="confirmAudioSetting">
    <img class="bottomHome" src="/fiesc/images/common/game-music2.png" v-if="editAudioInfo.backMusic==0" v-on:click="confirmAudioSetting">
    <img class="bottomMessage" src="/fiesc/images/common/game-chat.png" v-on:click="showMessage">

    <img class="bottomSound" src="/fiesc/images/common/return-index13.png" v-on:click="showHomeAlert" />

    <img :src="globalData.fileUrl+'files/images/common/btn_qrcode.png'" onclick="makeQrCode()" style="    position: absolute;bottom: 0.75vh;width: 4.5vh;height: 4.5vh;z-index: 100;right: 34.5vh;" />

    <!--自动准备-->
    <div class="auto-ready" v-on:click="autoReady()">
        <img v-show="appData.isAutoReady==1" src="/files/images/common/ready_true2.png">
        <img v-show="appData.isAutoReady==0" src="/files/images/common/ready_false2.png">
    </div>
    <div class="disconnect" v-show="!connectOrNot" style="position: fixed;top:45%;left: 0;width: 100%;text-align: center;z-index: 101"><div style="width: 250px;height:27px;position: absolute;top:-2;left: 50%;margin-left: -125px;background: #000;opacity: .5;border-radius:15px;"></div><a style="font-size: 16px;color: #fff;padding: 5px 14px;position:relative;">已断开连接，正在重新连接...</a></div>

    <!-- 底部显示底注 -->
    <div class="myCardTypeBG">
    </div>
    <div class="myCardType">
        <div>底分：{{base_score}}分</div>
    </div>

    <div class="myCardTypeBG" style="left: 64%">
    </div>
    <div class="myCardType" style="left: 64%">
        <div>{{game.round}}&nbsp/&nbsp{{game.total_num}}&nbsp局</div>
    </div>



    <!-- 提示框 -->
    <div class="alert" id="valert" v-show="isShowAlert">
        <div class="alertBack"></div>
        <div class="mainPart">
            <div class="backImg">
                <div class="blackImg"></div>
            </div>
            <div class="alertText">
                <div class="user-list" v-show="room_users != ''">
                    房间里有
                    <div class="join-user-info" v-for="item in room_users">
                        <span>{{item.name}}、</span>
                    </div>
                    是否加入？
                </div>
                <div v-if="alertType==8 && add_user" style="font-size: 2.2vh">
                    <div>你还不是房主的好友,无法加入房间</div>
                    <div style="height: 6.6vh;">
                        <img v-bind:src="ownerUser.avatar" style="position: relative; width: 5vh;height: 5vh;border: .1vh solid yellow;top: .5vh;">
                        <span style="position: relative; font-size: 2.4vh;line-height: 6.6vh;height: 6.6vh;max-width: 43vw;top: -1.4vh;overflow: hidden;">{{ownerUser.nickname}}</span>

                    </div>
                </div>
                <div>{{alertText}}</div>
            </div>

            <div v-show="alertType==1">
                <div class="buttonMiddle activeButton" v-on:click="hall">返回首页</div>
            </div>
            <div v-show="alertType==2">
                <div class="buttonMiddle activeButton" v-on:click="hall">返回首页</div>
            </div>
            <div v-show="alertType==3">
                <div class="buttonLeft activeButton" v-on:click="hall">返回首页</div>
                <div class="buttonRight activeButton" v-on:click="closeAlert">取消</div>
            </div>
            <div v-show="alertType==4">
                <div class="buttonLeft activeButton" v-on:click="hall">创建房间</div>
                <div class="buttonRight activeButton" v-on:click="sitDown">加入游戏</div>
            </div>

            <div v-show="alertType==7">
                <div class="buttonMiddle activeButton" v-on:click="hall">返回首页</div>
            </div>
            <div v-show="alertType==8">
            </div>
            <div v-show="alertType==9">
                <div class="buttonMiddle activeButton" v-on:click="showBreakRoom">确定</div>
            </div>
            <div v-show="alertType==10">
                <div class="buttonLeft activeButton" v-on:click="closeAlert">取消</div>
                <div class="buttonRight activeButton" v-on:click="confirmBreakRoom">确定</div>
            </div>
            <div v-show="alertType==11">
                <div class="buttonMiddle activeButton" v-on:click="closeAlert">知道了</div>
            </div>
            <div v-show="alertType==21">
                <div class="buttonMiddle activeButton" v-on:click="closeAlert">确定</div>
            </div>
            <div v-show="alertType==22">
                <div class="buttonMiddle activeButton" v-on:click="closeAlert">确定</div>
            </div>
            <div v-show="alertType==23" >
                <div class="buttonLeft activeButton" v-on:click="hall">返回大厅</div>
                <div class="buttonRight activeButton" v-on:click="reloadView">返回游戏</div>
            </div>
            <div v-show="alertType==31">
                <div class="buttonMiddle activeButton" v-on:click="reloadView()">确定</div>
            </div>
            <div v-show="alertType==32">
                <div class="buttonMiddle activeButton" v-on:click="reloadView()">重新登录</div>
            </div>
            <div v-show="alertType==41">
                <div class="buttonMiddle activeButton" v-on:click="confirmMessage()">确定</div>
            </div>
            <div v-if="alertType==8 && add_user" style="font-size: 14px;position: absolute;width:100%;line-height: 4.2vh;height: 4.2vh;width: 14vh;bottom: 11px;left:50%;margin-left:-7vh;text-align: center;overflow: hidden;">
                <div v-show="applyStatus==0" style="border-radius: 2vh;background-color: #EE7942;color: #fff"  v-on:click="applyToJoin">确定</div>
                <div v-show="applyStatus==1" style="border-radius: 2vh;background-color: #6f6363;color: #fff">申请中</div>
            </div>
        </div>
    </div>

    <div v-show="isShowApply" style="color: #000;">
        <div class="applyMask" style="width: 100%;height: 100%;position: fixed;background: #000;z-index: 111;"></div>
        <div style="position: fixed;background: #fff;border-radius: 6px; top: 50%;left: 50%;z-index: 111;transform: translate(-50%,-50%); width: 76vw;font-size: 16px;height: 20vh" >
            <img src="/files/images/common/close.png" style="position: absolute;right: -3vw;top: -2vh;width: 10vw;" @click="hall">
            <div style="margin-top: 5vh;text-align: center;">你不是该俱乐部成员</div>
            <!--            <div style="margin-top: 5vh;text-align: center;">{{applyInfo.text}}</div>-->
            <div style="text-align: center">是否申请加入俱乐部？</div>
            <div style="background: url(/files/images/common/button_yellow.png);background-size: 100% 100%;width: 24vw;height: 4vh;position: relative;top: 2.5vh;left: 50%;transform: translateX(-50%);color: #fff;text-align: center;line-height: 4vh;font-size: 16px;" @click="applyClub()">
                {{applyInfo.status}}
            </div>
        </div>

    </div>

    <!-- 游戏桌子 -->
    <div class="table" id="table" style="position: relative; width: 100%; height: 100%; z-index: 80; overflow: hidden;" v-on:click="confirmAudioSetting('1')">
        <img class="tableBack"  src="/files/images/paijiu/table.jpg" style="position: absolute;top:0;left: 0;width: 100vw;height: 100vh" />
        <img :src="'/platform/'+globalData.hallEname+'/hall-name.png'" style="position: absolute;top: 40%;left: 50%;transform: translate(-50%,-50%);width: 2rem;" />

        <!-- 发牌  -->
        <div class="cardDeal">
            <div v-for="p in player" v-show="p.account_id>0&&p.account_status>2&&p.account_status<8&&(p.num!=1||(p.account_status!=7&&p.account_status!=8&&!player[0].is_showCard))&&(game.cardDeal>0)">
                <div class="card" v-bind:class="'card' + p.num + '1'" style="z-index: 14;" v-show="game.cardDeal>0"></div>
                <div class="card" v-bind:class="'card' + p.num + '2'" style="z-index: 14;" v-show="game.cardDeal>1"></div>
                <div class="card" v-bind:class="'card' + p.num + '3'" style="z-index: 14;" v-show="game.cardDeal>2"></div>
                <div class="card" v-bind:class="'card' + p.num + '4'" style="z-index: 14;" v-show="game.cardDeal>3"></div>
            </div>

            <!-- 玩家1发完牌之后  -->
            <div class="myCards" v-if="player[0].is_showCard&&player[0].account_status>2&&player[0].account_status<=7&&game.show_card&&player[0].card.length>0">
                <div class="cards3D">
                    <div class="cards card0" v-show="player[0].account_status >2 && player[0].account_status <= 7" v-on:click="seeMyCard4(0)">
                        <div class="face front" ></div>
                        <div class="face back" v-bind:class="'card' + player[0].card[0].cardValue"></div>
                    </div>
                    <div class="cards card1" v-show="player[0].account_status >2 && player[0].account_status <= 7" v-on:click="seeMyCard4(1)">
                        <div class="face front"></div>
                        <div class="face back" v-bind:class="'card' + player[0].card[1].cardValue"></div>
                    </div>
                    <div class="cards card2" v-show="player[0].account_status >2 && player[0].account_status <= 7" v-on:click="seeMyCard4(2)">
                        <div class="face front" ></div>
                        <div class="face back" v-bind:class="'card' + player[0].card[2].cardValue"></div>
                    </div>
                    <div class="cards card3" v-show="player[0].account_status >2 && player[0].account_status <= 7" v-on:click="seeMyCard4(3)">
                        <div class="face front"></div>
                        <div class="face back" v-bind:class="'card' + player[0].card[3].cardValue"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 玩家 1 组牌 player[0].card_group.length>0-->
        <div class="myCards" v-if="player[0].card_group_one.length>0&&player[0].card_group_two.length>0&&player[0].card.length>0" v-show="player[0].account_status>=8">
            <div class="cardLevel level1" v-bind:class="{'selected':player[0].card[0].isGroup}">
                <div class="face" v-bind:class="'card' + player[0].card[0].cardValue"></div>
            </div>
            <div class="cardLevel level2" v-bind:class="{'selected':player[0].card[1].isGroup}">
                <div class="face" v-bind:class="'card' + player[0].card[1].cardValue"></div>
            </div>
            <div class="cardLevel level3" v-bind:class="{'selected':player[0].card[2].isGroup}">
                <div class="face" v-bind:class="'card' + player[0].card[2].cardValue"></div>
            </div>
            <div class="cardLevel level4" v-bind:class="{'selected':player[0].card[3].isGroup}">
                <div class="face" v-bind:class="'card' + player[0].card[3].cardValue"></div>
            </div>
        </div>

        <!-- 其余玩家摊牌后 -->
        <div class="cardOver" style="position: absolute; width: 100%; height: 100%; overflow:hidden;">
            <div v-for="p in player" v-if="p.num!=1" v-show="p.account_status>7&&game.show_card">
                <div class="cards"  v-bind:class="p.account_status>=8?'cardAni card' + p.num +' cardSet'+ p.num + '11' :'card' + p.num +' card'+ p.num + '11'" style="z-index: 16;">
                    <div class="face front"></div>
                    <div class="face back" v-if ="p.card_group_one.length>0" v-bind:class="'card' + p.card_group_one[0]"></div>
                </div>

                <div class="cards" v-bind:class="p.account_status>=8?'cardAni card' + p.num +' cardSet'+ p.num + '21' :'card' + p.num +' card'+ p.num + '21'"  style="z-index: 16;">
                    <div class="face front"></div>
                    <div class="face back" v-if ="p.card_group_one.length>0" v-bind:class="'card' + p.card_group_one[1]"></div>
                </div>

                <div class="cards" v-bind:class="p.account_status>=8?'cardAni card' + p.num +' cardSet'+ p.num + '31' :'card' + p.num +' card'+ p.num + '31'"  style="z-index: 16;">
                    <div class="face front"></div>
                    <div class="face back" v-if ="p.card_group_two.length>0" v-bind:class="'card' + p.card_group_two[0]"></div>
                </div>

                <div class="cards" v-bind:class="p.account_status>=8?'cardAni card' + p.num +' cardSet'+ p.num + '41' :'card' + p.num +' card'+ p.num + '41'"  style="z-index: 16;">
                    <div class="face front"></div>
                    <div class="face back" v-if ="p.card_group_two.length>0" v-bind:class="'card' + p.card_group_two[1]"></div>
                </div>
            </div>
        </div>

        <!-- 抢庄文字图片 "{true: 'bankerSelected', false: 'bankerUnSelected'}[createInfo.bull.banker_mode==3]"   'memberRobText' + p.num-->
        <div v-for="p in player" v-if="p.num!=1&&ruleInfo.banker_mode!=2" v-bind:class="{true:'memberGoText' + p.num,false:'memberRobText' + p.num}[ruleInfo.banker_mode==5]" v-show="p.account_status==4||p.account_status==5">
            <img v-bind:src="p.robImg" style="position: absolute; width: 100%;">
        </div>

        <div v-for="p in player" v-if="p.num!=1&&ruleInfo.banker_mode==2" v-bind:class="'memberFreeRobText' + p.num" v-show="p.account_status==4||p.account_status==5">
            <img v-bind:src="p.robImg" style="position: absolute;  width: 100%;">
        </div>

        <div v-for="p in player" v-if="p.num!=1&&ruleInfo.banker_mode==2" v-bind:class="'memberGoTimesText' + p.num" v-show="p.account_status==5&&p.bankerMultiples>=1">
            <img v-bind:src="p.bankerTimesImg" style="position: absolute; width: 100%;">
        </div>

        <!-- 倍数文字图片 -->
        <div class="memberTimesText1" v-if="ruleInfo.banker_mode!=4" v-show="player[0].account_status>=6&&game.show_card&&!player[0].is_banker&&player[0].multiples>0">
            <img v-bind:src="player[0].timesImg" style="position: absolute; width: 100%;">
        </div>
        <div v-for="p in player" v-if="p.num!=1&&ruleInfo.banker_mode!=4" v-bind:class="'memberTimesText' + p.num" v-show="p.account_status>=6&&game.show_card&&!p.is_banker&&p.multiples>0">
            <img v-bind:src="p.timesImg" style="position: absolute; width: 100%;">
        </div>

        <!-- 庄家倍数文字图片 -->
        <div class="memberTimesText1" v-if="ruleInfo.banker_mode==2" v-show="player[0].account_status>=5&&game.show_card&&player[0].is_banker&&player[0].bankerMultiples>0">
            <img v-bind:src="player[0].bankerTimesImg" style="position: absolute; width: 100%;">
        </div>
        <div v-for="p in player" v-if="p.num!=1&&ruleInfo.banker_mode==2" v-bind:class="'memberTimesText' + p.num" v-show="p.account_status>=5&&game.show_card&&p.is_banker&&p.bankerMultiples>0">
            <img v-bind:src="p.bankerTimesImg" style="position: absolute; width: 100%;">
        </div>

        <!-- 牛几图片 1-->
        <div v-for="p in player"  v-bind:class="'memberBull memberBullWin' + p.num + '11'"  v-if="p.account_status>=8&&p.open_left&&game.show_card&&p.bullImgLeft.length>=1" style="display: none;z-index: 2;">
            <img src="/files/images/paijiu/back.png" style="position: absolute;top:-10%;left: -10%;width:120% ;height:120%">
            <img v-bind:src="p.bullImgLeft" style="height:100%;position: relative;">
        </div>

        <div v-for="p in player"  v-bind:class="'memberBull memberBullLose' + p.num + '11'" v-if="p.account_status>=8&&p.open_left&&game.show_card&&p.bullImgLeftLose.length>=1" style="display: none;z-index: 1;">
            <img src="/files/images/paijiu/back.png" style="position: absolute;top:-10%;left: -10%;width:120% ;height:120%">
            <img v-bind:src="p.bullImgLeftLose" style="height:100%;position: relative;">
        </div>
        <!-- 牛几图片 2-->
        <div v-for="p in player" v-bind:class="'memberBull memberBullWin' + p.num + '22'"  v-if="p.account_status>=8&&p.open_right&&game.show_card&&p.bullImgRight.length>=1" style="display: none;z-index: 2;">
            <img src="/files/images/paijiu/back.png" style="position: absolute;top:-10%;left: -10%;width:120% ;height:120%">
            <img v-bind:src="p.bullImgRight" style="height:100%;position: relative;">
        </div>

        <div v-for="p in player" v-bind:class="'memberBull memberBullLose' + p.num + '22'" v-if="p.account_status>=8&&p.open_right&&game.show_card&&p.bullImgRightLose.length>=1" style="display: none;z-index: 1;">
            <img src="/files/images/paijiu/back.png" style="position: absolute;top:-10%;left: -10%;width:120% ;height:120%">
            <img v-bind:src="p.bullImgRightLose" style="height:100%;position: relative;">
        </div>

        <!-- 每局得分 -->
        <div v-for="p in player" class="memberScoreText" v-bind:class="'memberScoreText' + p.num" v-show="game.show_score" style="display: none;">
            <p v-show="p.single_score<0&&p.account_status>=8" style="position: absolute; line-height: 4vh; width:100%;height: 4vh; color: white; font-size: 3vh;font-family:'Helvetica 微软雅黑'; -webkit-text-stroke: 1.3px;text-shadow: 1px 2px 2px #022055; ">{{p.single_score}}</p>
            <p v-show="p.single_score>0&&p.account_status>=8" style="position: absolute; line-height: 4vh; width:100%;height: 4vh; color: rgb(234,171,55); font-size: 3vh;font-family:'Helvetica 微软雅黑'; -webkit-text-stroke: 1.3px;text-shadow: 1px 2px 2px #782a00;">+{{p.single_score}}</p>
            <p v-show="p.single_score==0&&p.account_status>=8" style="position: absolute; line-height: 4vh; width:100%;height: 4vh; color: rgb(234,171,55); font-size: 3vh;;font-family:'Helvetica 微软雅黑'; -webkit-text-stroke: 1.3px;text-shadow: 1px 2px 2px #782a00; ">0</p>
        </div>

        <div  v-for="p in player" key="p.num" class="member" v-bind:class="'member' + p.num" v-show="p.account_id<=0">
            <div class="quitBack" style="border: 1px solid #fff;font-size:12px;color:#fff;line-height: 7.4vh;width:7.4vh;height:7.4vh">空位</div>
        </div>
        <!-- 玩家  -->
        <div key="player[0].num" class="member" v-bind:class="'member' + player[0].num + ' pos'+ player[0].account_id" v-show="player[0].account_id>0 && player[0].num==1">
            <!-- 玩家头像 -->
            <img v-bind:src="player[0].headimgurl" class="avatar">
            <img src="/files/images/nbull/player_selected.png" class="banker" v-show="player[0].is_banker">
            <!-- 玩家昵称 
            <div class="title">{{p.nickname}}</div>-->
            <!-- 玩家积分 
            <div class="score">{{p.account_score}}</div>-->

            <div class="bottom" style="background-color: rgba(0, 0, 0, 0.6); border-radius: 2px;overflow: hidden;">
                <div class="bname" style="text-align: center;overflow: hidden;">{{player[0].nickname}}</div>
                <div class="bscore" style="text-align: center;overflow: hidden;">{{player[0].account_score}}</div>
            </div>

            <img v-bind:id="'banker' + player[0].account_id" src="/files/images/nbull/banker_bg.png" class="background" style="position: absolute; top: -0.2vh;left: -0.2vh;width: 7.86vh; height: 7.86vh; display: none;" />

            <img src="/files/images/paijiu/banker_icon.png" class="background" style="position: absolute;top: -1.4vh;left: -1.4vh;width: 3vh; height: 3vh;" v-show="player[0].is_banker">

            <img v-bind:id="'bankerAnimate' + player[0].num" src="/files/images/nbull/banker_animate.png" style="position: absolute; top: -0.2vh; left: -0.2vh; width: 7.86vh; height: 7.86vh; display: none;">
            <img v-bind:id="'bankerAnimate1' + player[0].num" src="/files/images/nbull/banker_animate.png" style="position: absolute; top: -0.2vh; left: -0.2vh; width: 7.86vh; height: 7.86vh; display: none;">


            <img src="/files/images/xiaxie/ready.jpg" class="ready"  v-show="player[0].account_status==2" />
            <!-- 玩家离开或不在线 -->
            <div class="quitBack" v-show="player[0].num>1&&p.online_status==0" ></div>

        </div>

        <div  v-for="p in player" key="p.num" class="member" v-bind:class="'member' + p.num + ' pos'+ p.account_id" v-show="p.account_id>0 && p.num!=1"   >

            <!-- 玩家头像 -->
            <img v-bind:src="p.headimgurl" class="avatar">
            <img src="/files/images/nbull/player_selected.png" class="banker" v-show="p.is_banker">
            <!-- 玩家昵称 
            <div class="title">{{p.nickname}}</div>-->
            <!-- 玩家积分 
            <div class="score">{{p.account_score}}</div>-->

            <div class="bottom" style="background-color: rgba(0, 0, 0, 0.6); border-radius: 2px;overflow: hidden;">
                <div class="bname" style="text-align: center;overflow: hidden;">{{p.nickname}}</div>
                <div class="bscore" style="text-align: center;overflow: hidden;">{{p.account_score}}</div>
            </div>

            <img v-bind:id="'banker' + p.account_id" src="/files/images/nbull/banker_bg.png" class="background" style="position: absolute; top: -0.2vh;left: -0.2vh;width: 7.86vh; height: 7.86vh; display: none;" />

            <img src="/files/images/paijiu/banker_icon.png" class="background" style="position: absolute; top: -1.4vh;left: -1.4vh;width: 3vh; height: 3vh;" v-show="p.is_banker">

            <img v-bind:id="'bankerAnimate' + p.num" src="/files/images/nbull/banker_animate.png" style="position: absolute; top: -0.2vh; left: -0.2vh; width: 7.86vh; height: 7.86vh; display: none;">
            <img v-bind:id="'bankerAnimate1' + p.num" src="/files/images/nbull/banker_animate.png" style="position: absolute; top: -0.2vh; left: -0.2vh; width: 7.86vh; height: 7.86vh; display: none;">

            <!-- 玩家离开或不在线 -->
            <img src="/files/images/xiaxie/ready.jpg" class="ready"  v-show="p.account_status==2" />
            <div class="quitBack" v-show="p.num>1&&p.online_status==0" ></div>

        </div>

        <!-- 玩家金币 -->

        <div id="playerCoins" style="display: none;">
            <div v-for='p in player'>
                <div v-for='coin in p.coins' class="memberCoin" v-bind:class="coin">
                    <img src="/files/images/common/coin.png" style="position: absolute; width: 100%; height: 100%">
                </div>
            </div>
        </div>

        <!-- 显示玩家消息文本 p.messageOn-->
        <div v-for="p in player">
            <div class="messageSay" v-bind:class="'messageSay' + p.num" v-show="p.messageOn">
                <div>{{p.messageText}}</div>
                <div class="triangle"> </div>
            </div>
        </div>

        <!-- 游戏状态:选择抢庄 player[0].account_status==3 -->
        <div id="divRobBankerText" v-show="showClockRobText&&ruleInfo.banker_mode!=4" v-bind:style="'position: absolute;top: 33%; left: 0px; width:' + width + 'px; height: 30px;'">
            <p style="color: white; font-size: 2vh;width: 100%;height: 30px; line-height: 30px; text-align: center;font-family:'Helvetica 微软雅黑';">{{ruleInfo.bankerText}}</p>
        </div>
        <div id="divBetText" v-show="showClockBetText" v-bind:style="'position: absolute;top: 33.5%; left: 0px; width:' + width + 'px; height: 30px;'">
            <p style="color: white; font-size: 2vh; width: 100%;height: 30px; line-height: 30px; text-align: center;font-family:'Helvetica 微软雅黑';">闲家下注</p>
        </div>
        <!-- 游戏状态:等待摊牌 -->
        <div id="divBetText" v-show="showClockShowCard" v-bind:style="'position: absolute;top: 33.5%; left: 0px; width:' + width + 'px; height: 30px;'">
            <p style="color: white; font-size: 2vh; width: 100%;height: 30px; line-height: 30px; text-align: center;font-family:'Helvetica 微软雅黑';">等待摊牌</p>
        </div>

        <!-- 游戏状态：玩家组牌 -->
        <div id="divBetText" v-show="showClockGroupCard" v-bind:style="'position: absolute;top: 33.5%; left: 0px; width:' + width + 'px; height: 30px;'">
            <p style="color: white; font-size: 2vh; width: 100%;height: 30px; line-height: 30px; text-align: center;font-family:'Helvetica 微软雅黑';">开始组牌</p>
        </div>

        <!-- 倒计时时钟 position: absolute; top: 38%; left: 44%; width: 40px; height: 42px; -->
        <div id="" class="clock" v-show="game.time>-1" v-bind:style="'position: absolute; top: 37.5%; left:' + (width - 34) / 2 + 'px; width: 34px; height: 42px;'">
            <img src="/files/images/common/clock2.png" style="position: absolute; width: 100%; height: 100%;" />
            <p style="position: absolute; top:8px; left: 0px; width: 34px; height: 34px; color: #000; text-align: center; line-height: 34px;">
                {{game.time}}
            </p>
        </div>

        <!-- 按钮操作区域 -->
        <div id="operationButton" >



            <div  v-show="(game.status==0||game.status==1)&&game.round!=game.total_num&&(player[0].account_status==1||player[0].account_status==0)&&player[0].num==1&&player[0].account_id>0&&canBreak!=1"  v-on:click="imReady" class="singleButton activeButton">
                <img src="/files/images/common/button_zhunbei.png" />

            </div>

            <!-- 抢庄 -->
            <div v-show="showRob&&ruleInfo.banker_mode==1" v-on:click="robBanker(1)"   class="rob activeButton">
                <img src="/files/images/common/button_qiang.png" >

            </div>

            <!-- 不抢 -->
            <div v-show="showRob&&ruleInfo.banker_mode==1" v-on:click="notRobBanker"  class="notRob activeButton">
                <img src="/files/images/common/button_buqiang.png" >

            </div>

            <!-- 上庄 -->
            <div v-show="showRob&&ruleInfo.banker_mode==5&&game.round==1" v-on:click="robBanker(1)"  class="rob activeButton">
                <img src="/files/images/common/button_shang.png" >

            </div>

            <!-- 不上庄 -->
            <div v-show="showRob&&ruleInfo.banker_mode==5&&game.round==1" v-on:click="notRobBanker" class="notRob activeButton">
                <img src="/files/images/common/button_bushang.png" >

            </div>


            <!-- 1倍 -->
            <div class="divCoin times1" v-show="showRob&&ruleInfo.banker_mode==2" v-on:click="robBanker(1)" >
                <img src="/files/images/common/button_time1.png" >
            </div>

            <!-- 2倍 -->
            <div class="divCoin times2" v-show="showRob&&ruleInfo.banker_mode==2" v-on:click="robBanker(2)" >
                <img src="/files/images/common/button_time2.png" >
            </div>

            <!-- 4倍 -->
            <div class="divCoin times3" v-show="showRob&&ruleInfo.banker_mode==2" v-on:click="robBanker(4)" >
                <img src="/files/images/common/button_time4.png" >
            </div>

            <!-- 不抢 -->
            <div class="divCoin times4" v-show="showRob&&ruleInfo.banker_mode==2" v-on:click="notRobBanker">
                <img src="/files/images/common/button_time0.png" >
            </div>

            <!-- 摊牌
            <div id="showShowCardButton" v-show="showShowCardButton" v-on:click="showCard" class="singleButton activeButton">
                <img src="/files/images/common/button_tanpai.png" >
            </div>  -->

            <!--组 牌-->
            <div id="showShowCardButton" v-show="showShowGroupCards&&player[0].account_status==7" v-on:click="groupCards" class="singleButton activeButton">
                <img src="/files/images/paijiuD/group.png" v-show="player[0].is_GroupCard"/>  <!--可以组牌-->
                <img src="/files/images/paijiuD/not_group.png" v-show="!player[0].is_GroupCard"/> <!-- 不能组牌 -->
            </div>

            <!-- 1倍 -->
            <div class="divCoin times1" v-show="showTimesCoin&&!player[0].multiples>0 && !player[0].is_banker&&player[0].account_status>=6" v-on:click="selectTimesCoin(coinList[0])">
                <img :src="'/files/images/common/button_time2'+coinList[0]+'.png'">
            </div>

            <!-- 2倍 -->
            <div class="divCoin times2" v-show="showTimesCoin&&!player[0].multiples>0&& !player[0].is_banker&&player[0].account_status>=6" v-on:click="selectTimesCoin(coinList[1])" >
                <img :src="'/files/images/common/button_time2'+coinList[1]+'.png'">
            </div>

            <!-- 4倍 -->
            <div class="divCoin times3" v-show="showTimesCoin&&!player[0].multiples>0&& !player[0].is_banker&&player[0].account_status>=6" v-on:click="selectTimesCoin(coinList[2])" >
                <img :src="'/files/images/common/button_time2'+coinList[2]+'.png'">
            </div>

            <!-- 5倍 -->
            <div class="divCoin times4" v-show="showTimesCoin&&!player[0].multiples>0&& !player[0].is_banker&&player[0].account_status>=6" v-on:click="selectTimesCoin(coinList[3])" >
                <img :src="'/files/images/common/button_time2'+coinList[3]+'.png'">
            </div>

            <!-- 抢庄文字 -->
            <div v-if="showRobText&&ruleInfo.banker_mode!=5&&ruleInfo.banker_mode!=2" v-bind:style="viewStyle.robText" >
                <img src="/files/images/bull/text_rob.png" >
            </div>

            <div v-if="showRobText&&ruleInfo.banker_mode==2" v-bind:style="viewStyle.robText2" >
                <img src="/files/images/bull/text_rob.png" >
            </div>

            <div v-if="showRobText&&ruleInfo.banker_mode==2&&player[0].bankerMultiples>0" v-bind:style="viewStyle.robTimesText" >
                <img v-bind:src="player[0].bankerTimesImg" >
            </div>

            <!-- 不抢庄文字 -->
            <div v-if="showNotRobText&&ruleInfo.banker_mode!=5" v-bind:style="viewStyle.notRobText">
                <img src="/files/images/bull/text_notrob.png" >
            </div>

            <!-- 上庄文字 -->
            <div v-if="showRobText&&ruleInfo.banker_mode==5&&game.round<2" v-bind:style="viewStyle.robText" >
                <img src="/files/images/bull/text_go.png" >
            </div>

            <!-- 不上庄文字 -->
            <div v-if="showNotRobText&&ruleInfo.banker_mode==5&&game.round<2" v-bind:style="viewStyle.notRobText">
                <img src="/files/images/bull/text_notgo.png" >
            </div>

            <!-- 等待玩家下注 -->
            <div v-show="showBankerCoinText" v-bind:style="viewStyle.coinText">
                <p v-bind:style="viewStyle.coinText1">等待闲家下注</p>
            </div>

            <!-- 点击看牌
            <div v-show="showClickShowCard" v-bind:style="viewStyle.showCardText">
                <p v-bind:style="viewStyle.showCardText1">点击牌面看牌</p>
            </div> -->
        </div>
    </div>

    <div class="ranking hideRanking" id="ranking" style="z-index: 1">
        <div class="rankBack">
            <img crossOrigin="Anonymous" src="/files/images/paijiu/rank_bg.jpg" style="position: absolute;top: 0;left: 0;width: 100%">
        </div>

        <div class="rankText" style="position: absolute;top: 4%;">
            <!--                <img crossOrigin="Anonymous" src="--><!--files/images/paijiuD/rank_frame.png" style="position: absolute;top: 0;left: 0;width: 200vw;">-->
            <div class="time" v-show="playerBoard.round>0" style="position: absolute;top: 24vw;width: 100%;">
                <a style="font-size: 6vw;">房间:{{game.room_number}}&nbsp&nbsp&nbsp&nbsp{{playerBoard.record}}&nbsp&nbsp&nbsp&nbsp{{game.total_num}}局</a>
            </div>
            <div style="height: 42vw;"></div>
            <div v-for="p in playerBoard.score" class="scoresItem" v-bind:class="{true: 'scoresItemYellow', false: 'scoresItemWhite'}[p.account_score>0]" v-show="p.account_id>0">
                <img crossOrigin="Anonymous" src="/files/images/common/rank_bigwinner.png" style="top: 0; margin-top: -1.5vw; left: 2vw;height: 120%" v-show="p.isBigWinner==1">
                <div class="name">{{p.nickname}}</div>
                <div class="currentScores"><a v-show="p.account_score>0">+</a>{{p.account_score}}</div>
            </div>
        </div>
        <div class="button roundEndShow" >
            <img crossOrigin="Anonymous" src="/files/images/common/rank_save.png" style="float: left;width: 30%;margin-left: 34%;" />

        </div>
    </div>

    <!-- end图片  -->
    <div id="endCreateRoom" class="end" style="position: fixed;width: 100%;height:100%;top:0;left:0;z-index: 120;display: none;">
        <img src="" style="width: 100vw;position: absolute;top:0;left: 0;height: 100vh;" id="end"  usemap="#planetmap1" />
        <div id="endCreateRoomBtn" style="position:absolute;right:13vw; width: 33vw; height: 9.6vw;bottom: 8%;z-index:121;overflow: hidden;"></div>
    </div>


    <!-- 新消息  -->
    <div class="chat-list-mask" v-on:click="hideMessage" v-show="isShowMessage"></div>
    <div class="chat-list" id="newmessage-box" v-show="isShowMessage">
        <ul class="chat-list-ul">
            <li v-for="item in message" v-on:click="messageOn(item.num)">{{item.text}}</li>
        </ul>
    </div>



    <!-- 进游戏提示框 -->
    <div class="window-masks user-join" id="joinUser" v-show="isShowGameAlert">
        <div class="border-opacity">
            <div class="container">
                <i class="mask-icon mask-top"></i>
                <i class="mask-icon mask-right"></i>
                <i class="mask-icon mask-bottom"></i>
                <i class="mask-icon mask-left"></i>
                <div class="user-id">ID：<?php echo $room_number;?></div>
                <div class="main">
                    <div class="rull" v-show="alertType==4"  style="font-size: 2.2vh">
                        模式<a v-if="ruleInfo.banker_mode==1">自由抢庄</a>
                        <a v-if="ruleInfo.banker_mode==2">明牌抢庄</a><br/>
                        底分：<a >{{ruleInfo.baseScore}}分</a><br>
                        局数：
                        <a >{{game.total_num}}局 </a><br>

                        牌型:
                        <a>丁三牌及二四牌可以互换使用</a>
                    </div>

                    <div class="user-list">
                        <div class="join-user-info" v-for="item in alertText">
                            <img v-bind:src="item.avatar">
                            <span>{{item.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <div class="return" v-on:click="hall">返回首页</div>
                    <div class="join-game" id="joinGame" v-on:click="sitDown">加入游戏</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 新规则  -->
    <div class="rules-mask" v-show="ruleInfo.isShowRule">
        <div class="content">
            <div class="niuniu-rules">
                <img src="/files/images/paijiuD/ruleD.png" style="width: 100%;" />
                <div class="flex-cont" data-pos="0">
                    <div class="name">底分：</div>
                    <div class="flex-item"><span class="zhuangType">{{ruleInfo.baseScore}}分</span></div>
                </div>
                <div class="flex-cont" data-pos="1">
                    <div class="name">模式：</div>
                    <div v-if="ruleInfo.banker_mode==1" class="flex-item"><span>自由抢庄</span></div>
                    <div v-if="ruleInfo.banker_mode==2" class="flex-item"><span>明牌抢庄</span></div>
                </div>
                <div class="flex-cont">
                    <div class="name">底分：</div>
                    <div class="flex-item">{{ruleInfo.baseScore}}分</div>
                </div>
                <div class="flex-cont" data-pos="2">
                    <div class="name">牌型：</div>
                    <div class="flex-item"><span>丁三牌及二四牌可以互换使用</span></div>
                </div>
                <div class="flex-cont" data-pos="0">
                    <div class="name">局数：</div>
                    <div class="flex-item">{{game.total_num}}局</div>
                </div>

            </div>
        </div>
        <div class="close" v-on:click="cancelGameRule"></div>
    </div>

    <!-- 游戏规则 -->
    <!--<div class="createRoom" id="vroomRule" v-show="ruleInfo.isShowRule" v-on:click="cancelGameRule">
        <div class="createRoomBack"></div>
        <div class="mainPart" >         
            <div  class="createB"></div>
            <div class="createTitle">
                <img src="/files/images/common/txt_rule.png" />
            </div>  
            
            <img src="/files/images/common/cancel.png" class="cancelCreate" v-on:click="cancelGameRule"/>

            <div class="blueBack">
                 <div class="selectPart" style="top: 0px;height:4vh;line-height:4.1vh;">
                    <div class="selectTitle" style="width: 100%;font-size: 2vh; text-align: center;color: #efd0a4; background-color: #4e3f79;opacity: 1.0">创建房间,游戏未进行,不消耗房卡</div>
                </div>
                
                <div class="selectPart" style="height:4vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">模式：</div>
                    <div class="selectList">
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.banker_mode==1">
                            <div class="selectText" >自由抢庄</div>
                        </div>                          
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.banker_mode==2">
                            <div class="selectText" >明牌抢庄</div>
                        </div>

                    </div>
                </div>

                <div class="selectPart" style="height:4vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">底分：</div>
                    <div class="selectList" >
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.baseScore==1">
                            <div class="selectText">1分</div>
                        </div>                          
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.baseScore==2">
                            <div class="selectText">3分</div>
                        </div>                          
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.baseScore==3">
                            <div class="selectText">5分</div>
                        </div>
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.baseScore==4">
                            <div class="selectText">10分</div>
                        </div>
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.baseScore==5">
                            <div class="selectText">20分</div>
                        </div>
                    </div>
                </div>      

                <div class="selectPart" style="height:12vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">规则：</div>
                    <div class="selectList">                        
                        <div class="selectItem" style="margin-left:10px;">
                            <div class="selectText" >每人分四张牌，分为大小组，分别与庄家对牌，全胜全败为胜负，一胜一败为和局</div>
                        </div>
                    </div>
                </div>  
                <div class="selectPart" style="height:4vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">牌型：</div>
                    <div class="selectList">                        
                        <div class="selectItem" style="margin-left:10px;" >
                            <div class="selectText" >丁三牌及二四牌可以互换使用</div>
                        </div>
                    </div>
                </div>  


                <div class="selectPart" style="height:4vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">局数：</div>
                    <div class="selectList">
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.ticket==1">
                            <div class="selectText" >12局X6房卡</div>
                        </div>                          
                        <div class="selectItem" style="margin-left:10px;" v-if="ruleInfo.ticket==2">
                            <div class="selectText" >24局X12房卡</div>
                        </div>
                    </div>
                </div>
            
             <div class="createCommit" v-on:click="cancelGameRule" >确定</div>

            </div>
        </div>
    </div>-->

    <!-- 设置音频 -->
    <div class="audioRoom" id="vaudioRoom" v-show="editAudioInfo.isShow">
        <div class="audioRoomBack" v-on:click="cancelAudioSetting"></div>
        <div class="mainPart" >
            <div  class="createB"></div>
            <div class="createTitle" style="height:4vh;"></div>

            <img src="/files/images/common/cancel.png" class="cancelCreate" v-on:click="cancelAudioSetting"/>
            <div class="blueBack">
                <div style="height:0.5vh;"></div>

                <div class="selectPart" style="height:4vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">背景音乐：</div>
                    <div class="selectList" >
                        <div class="selectItem"v-on:click="setBackMusic" >
                            <div class="selectBox"></div>
                            <img src="/files/images/common/tick.png" v-show="editAudioInfo.backMusic==1"/>
                            <div class="selectText">开启</div>
                        </div>
                    </div>
                </div>

                <div class="selectPart" style="height:4vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">游戏音效：</div>
                    <div class="selectList" >
                        <div class="selectItem"  v-on:click="setMessageMusic">
                            <div class="selectBox"></div>
                            <img src="/files/images/common/tick.png" v-show="editAudioInfo.messageMusic==1"/>
                            <div class="selectText">开启</div>
                        </div>
                    </div>
                </div>
                <div class="createCommit activeButton" v-on:click="confirmAudioSetting" >确定</div>


            </div>
        </div>
    </div>

    <!-- 特殊提示  -->
    <div class="alert" v-show="isShowNoteImg" v-on:click="hideNoteImg()">
        <div class="alertBack"></div>
        <img src="/files/images/paijiuD/ruleD.png" style="position: absolute;top:15vh;height:auto;width: 45vh;top: 0;bottom: 0; left: 0; right: 0; margin: auto; " />
    </div>

    <div class="alertB" v-show="isShowAlertB">
        <div class="alertBackgroundB"></div>
        <img src="/files/images/center/alert1.png" v-show="alertTypeB==2">
        <img src="/files/images/center/alert2.png" v-show="alertTypeB==1">
        <div class="alertTextB" >{{alertTextB}}</div>
    </div>


    <div id="qrcode" style="display: none;position: fixed; top: 0;left: 0;width: 100%;height: 100%;z-index: 111">
        <div style="background: rgba(0,0,0,0.5);position: fixed;top: 0;left: 0;width: 100%;height: 100%;"
             onclick="hideQrCode()"></div>
        <div style="position: relative;width: 64vw;height: 80vw;left: 50%;top: 50%;transform: translate(-50%, -50%);border: .0096rem solid #919191;-webkit-border-radius: .096rem;-moz-border-radius: .096rem;border-radius: .096rem;transition: display 1s;background-color: rgba(255,255,255,.2);">
            <div>
                <span style="position:absolute;top: 0.1rem;left: 50%;transform: translateX(-50%); width: 70vw;text-align: center; color: #fff;font-size: 18px;">二维码</span>
                <div id="divOne"></div>
                <img id='imgOne'
                     style="width: 50vw; height:50vw; box-sizing: border-box;position: absolute;overflow: scroll;background: #fff;border-radius: 4px;left: 50%;top: 48%;transform: translate(-50%,-50%);"/>
                <span style="position:absolute;bottom: 0.25rem;left: 50%;transform: translateX(-50%); width: 70vw;text-align: center; color: #fff;font-size: 16px;">长按二维码发送</span>
            </div>
        </div>
    </div>

    <!--防伪码-->
    <div style="display: none;" v-show="isShowIndiv">
        <div class="individuaMask" style="" v-on:click="hideIndividuality"></div>
        <div class="individuaFrame" style="">
            <div class="title">防伪码设置</div>
            <div class="text">
                <input v-model="inputIndiv" v-on:input="individualityChange()" type="text" placeholder="设置1-6位英文或数字防伪码">
            </div>
            <div class="error">{{individualityError}}</div>
            <div class="buttonContainer" v-on:click="setIndividuality">
                <div class="button">确认</div>
            </div>
            <div class="buttonClose" v-on:click="hideIndividuality">
                <img src="/fiesc/images/common/close.png">
            </div>
        </div>
    </div>
</div>
</body>
<script src="/files/js/canvas.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" ></script>
<script src="/files/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/files/js/jquery.qrcode.min.js"></script>
<script src="/files/js/bscroll.js"></script>
<script src="/files/js/jquery.marquee.min.js" type="text/javascript"></script>
<script src="/files/js/vue.min.js" ></script>
<script src="/files/js/vue-resource.min.js" ></script>
<script type="text/javascript" src="/fiesc/js/aes.js"></script>
<script type="text/javascript" src="/files/js/md5.js"></script>
<script src="/files/js/ves.js?v=112"></script>
<script src="/files/js/paijiuD_club.js?v=111222a"></script>
<script type="text/javascript" src="/files/js/qrcode.js?v=111212"></script>


<script src="/files/js/fuzhi_xl2.js?v=1201809191"></script>
<script src="/files/js/clipboard.min.js"></script>

</html>
